<html>
    <head>
        <title> Gallary </title>
    </head>
    <body>
        <%- include('./header.ejs') %> 

        <div class="n1">
            <img src='/images/myImg.jpeg'>
        </div>
        <div class="n1">
            <img src='/images/n1.jpeg'>
        </div>
        <div class="n1">
            <img src='/images/n2.jpeg'>
        </div>
        <div class="n1">
            <img src='/images/n3.jpeg'>
        </div>

    </body>
</html>

