
        <header>
            <nav>
                <ul>
                    <li><a href="main">Home</a></li>
                    <% if(username) { %> 
                    <li><a href="logout">logout</a></li>
                    <li><a href="upload">Upload File</a></li>
                    <% } else { %> 
                    <li><a href="login">Login</a></li>
                    <li><a href="signup">Signup</a></li>
                    <% } %> 
                </ul>
            </nav>
        </header>
        <h1>Welcome! <%= username %></h1>