<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <%- include('./header') %> 
        <div class="loginHeader">
            <center><h1>Login Page</h1></center>
        </div>
        <div class="loginBlock">
            <form action="login" method="POST">
                <center>

                    Email : <input type="text" name="lemail" placeholder="Your Username" required><br><br>
                    Password : <input type="password" name="lpassword" placeholder="Your Password" required><br><br>
    
                    <input type="submit" value="submit">
                </center>
            <!-- localstorage -->
            </form>
        </div>
    </body>
</html>

