<html>
    <head>
        <title> Home </title>
    </head>
    <body>
        <%- include('./header.ejs') %> 
        

        <img src='/images/myImg.jpeg'>

        <a href="gallary">my gallary</a>
    </body>
</html>

