<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <%- include('./header') %> 
        <div class="signupHeader">
            <center><h1>Signup Page</h1></center>
        </div>
        <div class="signupBlock">
            <center>
                <form action="signup" method="post" >
                    Fullname : <input type="text" name="sfullname" placeholder="Your Fullname" required><br><br>
                    Email : <input type="text" name="semail" placeholder="Your Email" required><br><br>
                    Password : <input type="password" name="spassword" placeholder="Your Password" required><br><br>

                    <input type="submit" value="submit">
                </form>
            </center>
        </div>
    </body>
</html>
